@charset "utf-8";
@import url(reset.css);
/* *,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  font: 16px/1.5 "Nanum Gothic", sans-serif;
  color: #333;
}

a,
a:link {
  text-decoration: none;
  color: inherit;
}

ol {
  list-style: decimal;
  margin: 0 0 0 1.5rem;
}
.carousel_wrap {
  width: 700px;
  height: 350px;
  margin: 0 auto;
  position: relative;
  padding: 25px;
  background: gold;
}
.controls{
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
}
.controls > #prev, .controls > #next{
    font-size: 2rem;
    background: rgba(0, 0, 0, .5);
    color: aliceblue;
    position: absolute;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    /* padding: 1rem; */
}
.controls > #next{
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}
.controls > #prev{
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
}
#carousel{
    position: absolute;
    left: 25px;
    top: 25px;
    height: calc(100% - 50px);
    width: calc(100% - 50px);
    z-index: 9;
}
#carousel > div {
  overflow: hidden;
  width: 100%;
  height: 300px;
  position: absolute;
  opacity: 0;
  transition: all .3s ease-in-out;
}
#carousel img {
  max-width: 100%;
}
.showing {
  z-index: 10;
  opacity: 1 !important
}

/* bxslider customize */

.bx-wrapper{
    border: 0;
    box-shadow: none;
}